!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @title || 'Observaciones de un explorador, por César Salazar'
    %meta{ :charset => 'utf-8' }
    %script{ :src => 'http://code.jquery.com/jquery.min.js', :type => 'text/javascript' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Pacifico|Noticia+Text|Bree+Serif', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => '/images/favicon.png', :rel => 'icon', :type => 'image/png'}
    = yield_content :head
  %body
    = yield